<div>
    <% characters.forEach(character => { %>
        <div class="rank-container">
            <img class="portrait" src='<%= character.image %>'>
            <div class="rank-details">
                <h6><%= character.name %></h6>
                <p>Rating: <%= character.rank %></p>
                <a href='/details/<%= character.id %>'>Details</a>
            </div>
        </div>
    <% }) %>
</div>