body {
    text-align: center;
    background-color: black;
    color: white;
}

header {
    background-color: black;
    color: yellow;
}

.controls {
    visibility: hidden;
    display: flex;
}

#user {
    display: inline;
}

.radio {
    display: none;
}

.vote-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.character {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

label {
    display: flex;
    flex-direction: column;
}

.portrait {
    height: 260px;
    width: 210px;
    border: 5px solid black;
}

.rank-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.rank-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment {
    height: 120px;
    width: 300px;
}

.vote-box:hover > .portrait {
    border: 5px solid darkslategrey;
}

.radio:checked ~ .portrait {
    border: 5px solid gold;
}

.comment-container {
    border: 1px solid darkslategrey;
    width: 400px;
    margin: 10px;

}

.comment-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid darkslategrey;
}

.controls form {
    margin: 5px;
}

.controls a {
    margin: 5px;
}

.comment-user {
    margin-left: 10px;
    font-weight: bold;
}

.comment-container p {
    text-align: left;
}