body {
    text-align: center;
    background-color: black;
    color: white;
}

header {
    background-color: black;
    color: yellow;
}

.controls {
    visibility: hidden;
}

#user {
    display: inline;
}

.radio {
    display: none;
}

.vote-container {
    display: flex;
    justify-content: center;
}

.character {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

label {
    display: flex;
    flex-direction: column;
}

.portrait {
    height: 250px;
    width: 200px;
}

.rank-container {
    margin: 20px;
}

.comment {
    height: 120px;
    width: 300px;
}